$red: #F23B4F;
$body-text-color: #4d4d4d;

body {
  background: rgb(0, 121, 191);
  color: $body-text-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
}

.toolbar {
  background: #026AA7;
  border: none;
  text-align: center;
  .navbar-brand {
    color: white;
  }
}

.drag-placeholder {
  background: #bfbfbf;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}

.lane {
  user-select: none;
  padding: 20px;
  background: #d9d9d9;
  border-radius: 3px;
  @at-root #{&}__title-bar {
    margin-bottom: 20px;

  }
  @at-root #{&}__title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
}

// Non-toast, page-level errors
.warning {
  color: $red;
  font-size: 15px;
  &.text {
    position: relative;
    left: 18px;
    top: 4px;
  }
}

// Form error labels
.error-container {
  position: absolute;
  background: #363636;
  bottom: -11px;
  left: 10px;
  padding: 0 5px;
  width: auto !important;
  div {
    display: inline-block;
    width: auto;
  }
  span {
    margin: 0 !important;
    &.warning {
      font-size: 13px;
      top: 0;
      left: 0;
    }
  }
}

input.warning {
  border-color: red;
}

.card-form, .remove-card {
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 1px 1px 1px solid #ababab;
  border-radius: 3px;
  word-wrap: break-word;
  cursor: move;
  @at-root #{&}--is-dragging {
    transform: rotateZ(2deg);
    box-shadow: 4px 4px 4px gray;
  }

  @at-root #{&}--is-hovering {
    background: #efefef;

  }
  @at-root #{&}__title {
    font-weight: bold;
    font-size: 16px;
  }
  @at-root #{&}__description {
    font-size: 16px;
  }
  @at-root #{&}__time {
    font-size: 10px;
  }

}
