body {
  background: #0079bf;
  color: #4d4d4d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto; }

.toolbar {
  background: #026AA7;
  border: none;
  text-align: center; }
  .toolbar .navbar-brand {
    color: white; }

.lane {
  padding: 20px;
  background: #d9d9d9;
  border-radius: 3px; }
  .lane__title-bar {
    margin-bottom: 20px; }
  .lane__title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold; }

.warning {
  color: #F23B4F;
  font-size: 15px; }
  .warning.text {
    position: relative;
    left: 18px;
    top: 4px; }

.error-container {
  position: absolute;
  background: #363636;
  bottom: -11px;
  left: 10px;
  padding: 0 5px;
  width: auto !important; }
  .error-container div {
    display: inline-block;
    width: auto; }
  .error-container span {
    margin: 0 !important; }
    .error-container span.warning {
      font-size: 13px;
      top: 0;
      left: 0; }

.card {
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 1px 1px 1px solid #ababab;
  border-radius: 3px;
  word-wrap: break-word; }
  .card__title {
    font-weight: bold;
    font-size: 16px; }
  .card__description {
    font-size: 16px; }
